@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ModalContainer {
    @apply bg-gray-50 p-4 m-4 rounded-xl flex flex-col gap-y-4 w-full max-w-[500px] relative;
  }
}

@layer utilities {
  .ellipsis {
    @apply overflow-ellipsis truncate whitespace-nowrap;
  }

  .content {
    @apply px-4 pt-20 pb-14;
  }

  .contentWithoutHeader {
    @apply px-4 pb-14;
  }
}

@layer base {
  :root {
    --colors-primary-50: 184, 227, 255;
    --colors-primary-100: 163, 219, 255;
    --colors-primary-200: 122, 202, 255;
    --colors-primary-300: 82, 186, 255;
    --colors-primary-400: 41, 170, 255;
    --colors-primary-500: 0, 154, 255;
    --colors-primary-600: 0, 120, 199;
    --colors-primary-700: 0, 86, 143;
    --colors-primary-800: 0, 52, 87;
    --colors-primary-900: 0, 18, 31;
    --colors-primary-950: 0, 2, 3;

    --colors-secondary-50: 255, 255, 255;
    --colors-secondary-100: 255, 255, 255;
    --colors-secondary-200: 237, 223, 255;
    --colors-secondary-300: 215, 183, 255;
    --colors-secondary-400: 192, 142, 255;
    --colors-secondary-500: 169, 101, 255;
    --colors-secondary-600: 138, 45, 255;
    --colors-secondary-700: 108, 0, 244;
    --colors-secondary-800: 83, 0, 188;
    --colors-secondary-900: 58, 0, 132;
    --colors-secondary-950: 46, 0, 104;

    --colors-tertiary-50: 255, 234, 222;
    --colors-tertiary-100: 255, 221, 201;
    --colors-tertiary-200: 255, 194, 160;
    --colors-tertiary-300: 255, 168, 120;
    --colors-tertiary-400: 255, 142, 79;
    --colors-tertiary-500: 255, 116, 38;
    --colors-tertiary-600: 237, 85, 0;
    --colors-tertiary-700: 181, 65, 0;
    --colors-tertiary-800: 125, 45, 0;
    --colors-tertiary-900: 69, 25, 0;
    --colors-tertiary-950: 41, 15, 0;

    --colors-success-50: 148, 255, 204;
    --colors-success-100: 127, 255, 194;
    --colors-success-200: 86, 255, 174;
    --colors-success-300: 46, 255, 155;
    --colors-success-400: 5, 255, 135;
    --colors-success-500: 0, 219, 114;
    --colors-success-600: 0, 163, 85;
    --colors-success-700: 0, 107, 56;
    --colors-success-800: 0, 51, 26;
    --colors-success-900: 0, 0, 0;

    --colors-error-50: 250, 164, 162;
    --colors-error-100: 249, 145, 143;
    --colors-error-200: 247, 107, 104;
    --colors-error-300: 245, 70, 65;
    --colors-error-400: 243, 32, 26;
    --colors-error-500: 218, 16, 11;
    --colors-error-600: 165, 12, 8;
    --colors-error-700: 111, 8, 6;
    --colors-error-800: 58, 4, 3;
    --colors-error-900: 4, 0, 0;

    --colors-info-50: 146, 215, 253;
    --colors-info-100: 126, 208, 253;
    --colors-info-200: 86, 193, 252;
    --colors-info-300: 46, 179, 251;
    --colors-info-400: 6, 164, 250;
    --colors-info-500: 4, 138, 211;
    --colors-info-600: 3, 102, 156;
    --colors-info-700: 2, 66, 101;
    --colors-info-800: 1, 30, 46;
    --colors-info-900: 0, 0, 0;

    --colors-warning-50: 254, 252, 247;
    --colors-warning-100: 254, 249, 239;
    --colors-warning-200: 251, 241, 215;
    --colors-warning-300: 249, 233, 191;
    --colors-warning-400: 245, 216, 142;
    --colors-warning-500: 240, 199, 94;
    --colors-warning-600: 216, 179, 85;
    --colors-warning-700: 180, 149, 71;
    --colors-warning-800: 144, 119, 56;
    --colors-warning-900: 118, 98, 46;

    --colors-gray-50: 255, 255, 255;
    --colors-gray-100: 245, 248, 250;
    --colors-gray-200: 195, 196, 215;
    --colors-gray-300: 181, 181, 195;
    --colors-gray-400: 167, 168, 187;
    --colors-gray-500: 161, 165, 183;
    --colors-gray-600: 96, 101, 130;
    --colors-gray-700: 63, 66, 84;
    --colors-gray-800: 24, 28, 50;
    --colors-gray-900: 0, 0, 0;
  }

  html {
    font-size: 62.5%;
  }

  * {
    @apply font-primary text-gray-700 text-md font-normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-800;
  }

  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5 {
    @apply text-h5;
  }
  h6 {
    @apply text-h6;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: theme(colors.primary.500);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
  }

  /*? Scrollbar */

  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.primary.400') theme(colors.gray.50);
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: theme(colors.gray.50);
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme(colors.primary.400);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: theme(colors.primary.300);
  }
}
